{% extends "base.html" %}
{% block content %}
<h2><center>Welcome!</center></h2>
<br>
<br>
<form method="post">
    <div class="row">
        <div class="input-field col s6" style="width:30%;">
          <input name="name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6" style="width:30%;">
          <input name="surname" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
        <div class="input-field col s6" style="width:30%;">
          <input name="age" type="number" class="validate">
          <label for="last_name">Age</label>
        </div>
      </div>

<br>Variables should always be initialized in C++.

<br><label>
        <input name="group1" type="radio" value="a" />
        <span>True</span>
      </label>
<br><label>
        <input name="group1" type="radio" value="b" />
        <span>False</span>
      </label>

<br>Binary search can be used in every list of elements,without any initial conditions.

<br><label>
        <input name="group2" type="radio" value="a" />
        <span>True</span>
      </label>
<br><label>
        <input name="group2" type="radio" value="b" />
        <span>False</span>
      </label>

<br>Python is OOP language.
<br><label>
        <input name="group3" type="radio" value="a" />
        <span>True</span>
      </label>
<br><label>
        <input name="group3" type="radio" value="b" />
        <span>False</span>
      </label>

<br>Java is older than Python.
<br><label>
        <input name="group4" type="radio" value="a" />
        <span>True</span>
      </label>
<br><label>
        <input name="group4" type="radio" value="b" />
        <span>False</span>
      </label>

<br>Python is written in C.(and technically if I did this project in C, I could say that I am using a older version of Python and it would be a problem)
<br><label>
        <input name="group5" type="radio" value="a" />
        <span>True</span>
      </label>
<br><label>
        <input name="group5" type="radio" value="b" />
        <span>Just finish this project man you have 4 midterms to do online this week.</span>
      </label>

<br>Every function should be written and compiled before main function in C++.
<br><label>
        <input name="group6" type="radio" value="a" />
        <span>True</span>
      </label>
<br><label>
        <input name="group6" type="radio" value="b" />
        <span>False</span>
      </label>

<br>The highest paying jobs in US for programmers are not on Python.
<br><label>
        <input name="group7" type="radio" value="a" />
        <span>True</span>
      </label>
<br><label>
        <input name="group7" type="radio" value="b" />
        <span>False</span>
      </label>

<br>C and C++ are mostly used in operating systems and in game engines.
<br><label>
        <input name="group8" type="radio" value="a" />
        <span>True</span>
      </label>
<br><label>
        <input name="group8" type="radio" value="b" />
        <span>False</span>
      </label>

<br>C has classes.
<br><label>
        <input name="group9" type="radio" value="a" />
        <span>True</span>
      </label>
<br><label>
        <input name="group9" type="radio" value="b" />
        <span>False</span>
      </label>

<br>Every variable in C++ should have a name and a type.
<br><label>
        <input name="group10" type="radio" value="a" />
        <span>True</span>
      </label>
<br><label>
        <input name="group10" type="radio" value="b" />
        <span>False</span>
      </label>

<br>Python is for people that aren't strong enough to use C++ or Java.
<br><label>
        <input name="group11" type="radio" value="a" />
        <span>True</span>
      </label>
<br><label>
        <input name="group11" type="radio" value="b" />
        <span>Just admit it already...</span>
      </label>

<br>You can create your own libraries in C and C++.
<br><label>
        <input name="group12" type="radio" value="a" />
        <span>True</span>
      </label>
<br><label>
        <input name="group12" type="radio" value="b" />
        <span>False</span>
      </label>

<br>You can't learn programming if you aren't exellent in math.
<br><label>
        <input name="group13" type="radio" value="a" />
        <span>True</span>
      </label>
<br><label>
        <input name="group13" type="radio" value="b" />
        <span>False</span>
      </label>

<br>There exist a sorting algorithm fitting for each problem.
<br><label>
        <input name="group14" type="radio" value="a" />
        <span>True</span>
      </label>
<br><label>
        <input name="group14" type="radio" value="b" />
        <span>Quick sorting gang</span>
      </label>

<br>Global variables can be accessed by every function in the program.
<br><label>
        <input name="group15" type="radio" value="a" />
        <span>True</span>
      </label>
<br><label>
        <input name="group15" type="radio" value="b" />
        <span>False</span>
      </label>

<br>Global variables can't be changed by functions in the program.
<br><label>
        <input name="group16" type="radio" value="a" />
        <span>True</span>
      </label>
<br><label>
        <input name="group16" type="radio" value="b" />
        <span>False</span>
      </label>

<br>In an interwiew about a job that involves programming, the most important things are your previous projects and your understanding of algorithms.
<br><label>
        <input name="group17" type="radio" value="a" />
        <span>True</span>
      </label>
<br><label>
        <input name="group17" type="radio" value="b" />
        <span>False</span>
      </label>

<br>Javascript was inspired by Java.
<br><label>
        <input name="group18" type="radio" value="a" />
        <span>True</span>
      </label>
<br><label>
        <input name="group18" type="radio" value="b" />
        <span>False</span>
      </label>

<br>Loops should always have a condition.
<br><label>
        <input name="group19" type="radio" value="a" />
        <span>True</span>
      </label>
<br><label>
        <input name="group19" type="radio" value="b" />
        <span>False</span>
      </label>

<br>Do you like my app?
<br><label>
        <input name="group20" type="radio" value="a" />
        <span>True</span>
      </label>
<br><label>
        <input name="group20" type="radio" value="b" />
        <span>False</span>
      </label>


<center><button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button></center>
</form>
{% endblock %}